@import './base';
.wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}
.order {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0;
  margin: 50px auto;
  &__top{
    width: 100%;
    display: flex;
    &_dashboard{
      flex: 8;
      padding: 20px 30px;
      & i{
        margin-right: 10px;
      }
      & span{
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    &_buttons{
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;
    }
    &_help{
      display: flex;
      flex: 4;
      padding: 20px 30px;
      & i{
        margin-right: 15px;
        font-size: 1.4em;
      }
      &-title{
        text-transform: uppercase;
        font-weight: bold;
      }
      &-content{
        margin-top: 10px;
      }
      &-contacts{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        flex-wrap: wrap;
        & a{
          color: $font-color;
          white-space: nowrap;
          &:not(:last-child){
            margin-right: 10px;
          }
          &:hover{
            text-decoration: underline;
          }
        }
        //white-space: nowrap;
      }
    }
  }
}

.text {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 15px;
  outline: transparent;
  background-color: transparent;
}

.text::-webkit-input-placeholder {
  font-size: 15px;
}

.text:focus:valid, .text:valid {
  border-color: #0f0;
  box-shadow: 0px 0px 10px 1px #0f0;
  background-color: transparent;
}

.text:focus:invalid {
  border-color: #f00;
  box-shadow: 0px 0px 10px 1px #f00;
  background: transparent;
}

.submit {
  width: 100%;
  height: 50px;
  background-color: $accent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #fff;
  font-weight: bold;
  @include transition;
  &.gray{
    border-color: $border-color;
    background-color: $button-bg;
    color: $font-color-light;
    @include transition;
    &:hover{
      @include transition;
      color: $font-color;
    }
  }
  &:not(:first-child){
    margin-top: 10px;
  }
  &:hover {
    @include transition;
    border-color: $font-color;
    will-change: border-color;
    transition: border-color .3s ease-in;
    color: $font-color;
  }
  &:active {
    background-color: #E8920C;
  }
}
